@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: roboto;
}
.displayFlex{
	display: flex;
}
.displayNone{
	display: none;
}
.displayBlock{
	display: block;
}
.bold{
	font-weight: 800;
}
.leftNavW1{
	width: 18%;
}
.leftNavW2{
	width: 5%;
}

.contaner{
	height: 100vh;
	width: 100%;
	background: #fff;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

.contaner::-webkit-scrollbar{
	width: 0.7rem;
}
.contaner::-webkit-scrollbar-track{
	background: transparent;
}
.contaner::-webkit-scrollbar-thumb{
	background: #888;
	border-radius: 10px;
	border: 2px solid transparent;
	background-clip: content-box;
}

.navBox{
	height: 8%;
	width: 99%;
	background: #fff;
/*	border: 1px solid;*/
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 9;
}
.navTLeft{
	height: 100%;
/*    border: 1px solid;*/
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 8px;
}
.navLeftIcon{
/*	border: 1px solid;*/
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.navLeftIconHover:hover{
	background: rgba(0, 0, 0, 0.1);
}
.navLeftIcon img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.Logo img{
	height: 80%;
	width: 7rem;
	object-fit: cover;
}
.navTRight{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 12%;
	height: 100%;
	margin-right: 2rem;
/*	border: 1px solid;*/
}
.navTCenter{
	height: 100%;
	width: 50%;
/*	border: 1px solid rgb(219, 219, 219);*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}
.serchBox{
	height: 75%;
	width: 92%;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.inputSerBox{
	height: 100%;
	width: 90%;
/*	border: 1px solid blue;*/
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.inputSerBox input{
	width: 100%;
	height: 70%;
	font-size: 1.1rem;
	border: none;
	outline: none;
}
.iconSerBox{
	height: 100%;
	width: 10%;
	border-left: 1px solid rgb(219, 219, 219);
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.backGrF8{
	background: #F8F8F8;
}
.leftNav{
	max-height: 92%;
/*	width: 5%;*/
	background: #fff;
/*	border: 1px solid;*/
	position: fixed;
	top: 8%;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
/*	padding: 1rem;*/
}
.leftNav::-webkit-scrollbar{
	width: 10px;
}
.leftNav::-webkit-scrollbar-track{
	background: transparent;
}
.leftNav::-webkit-scrollbar-thumb{
	background: transparent;
	border-radius: 10px;
	border: 2px solid transparent;
	background-clip: content-box;
}
.leftNav:hover::-webkit-scrollbar{
	width: 0.7rem;
}
.leftNav:hover::-webkit-scrollbar-thumb{
	background-color: #888;
}
#fullNav{
	height: 100%;
	width: 100%;
/*	border: 1px solid;*/
	padding: 0 10px;
}
.navhvsBox{
	width: 100%;
	min-height: 5rem;
	border-bottom: 1px solid rgb(219, 219, 219);
	padding: 1rem 0;
}
.SubscriptionsBox{
	padding: 0 8px;
	font-size: 1.2rem;
}
.navbvfrBox{
	width: 100%;
	height: 2.5rem;
/*	border: 1px solid;*/
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 10px;
	font-size: 1.1rem;
}
.SubscriptionsSmPr{
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-image: url('images/user.png');
	background-size: cover;
}
.navbvfrBoxover{
	background: #EFEFEF
}
.navbvfrBoxHover:hover{
	background: #EFEFEF
}
.navuersBox{
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 1.5rem;
	font-size: 14px;
	color: #0F0F0F;
}
.classNavText{
	font-size: 14px;
	color: #606060;
	font-weight: 600;
	margin-bottom: 10px;
	padding: 0 1rem;
}
.copyrNavText{
	font-size: 12px;
	color: #909090;
	padding: 0 1rem;
}
#smallNav{
	height: 100%;
	width: 100%;
/*	border: 1px solid;*/
	padding: 10px 2px;

}
.smallNavH{
	height: 70px;
	width: 100%;
/*	border: 1px solid;*/
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	gap: 5px;
}
.NaviconS{
	height: 24px;
	width: 24px;
}
.NavConS{
	font-size: 10px;
}

.contentBox{
	width: 82%;
	min-height: calc(100vh - 8vh);
	background: #fff;
/*	border: 1px solid;*/
	position: absolute;
	top: 8%;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
/*	position: relative;*/
/*	padding: 1rem;*/
}
.navigateBox{
	width: 79%;
	height: 10%;
/*	border: 1px solid;*/
	position: fixed;
	left: 19vw;
	background: #fff;
	display: flex;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
	z-index: 9;
/*	flex-wrap: wrap;*/
}
.navigateBox::-webkit-scrollbar {
    display: none;
}
.tapNavSc{
	flex: 0 0 auto;
	height: 32px;
/*	width: 6rem ;*/
/*	border: 1px solid;*/
	margin: 0 5px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #EFEFEF;
	border-radius: 5px;
	padding: 0 8px;
	cursor: pointer;
	font-size: 14px;
}
.colorbhsd{
	color: #fff;
	background: #000;
}

.blurssb{
	height: 4rem;
    width: 4rem;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 0;
    z-index: 5;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background: #fff;
    box-shadow: 19px 0px 20px #fff;
}
.blurssb2{
	height: 4rem;
    width: 4rem;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    position: sticky;
    right: 0;
    z-index: 5;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background: #fff;
    box-shadow: -19px 0px 20px #fff;
}
.ugdLeft{
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
/*	flex: 0 0 auto;*/
	cursor: pointer;
}
.ugdRight{
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	z-index: 5;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	cursor: pointer;
}

.videoShow{
	padding: 10vh 1rem 1rem 1rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
/*	border: 1px solid;*/
	min-height: 100%;
	width: 100%;
}

.videoCon{
	width: 100%;
	height: 20rem;
/*	border: 1px solid;*/
	flex: 0 0 auto;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.playVide1{
	height: 100%;
	width: 32%;
/*	border: 1px solid;*/
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.VideoC{
	width: 100%;
	height: 60%;
/*	border: 1px solid;*/
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.VideoC video{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.videohh{
	width: 100%;
	height: 40%;
/*	border: 1px solid;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.videoProfileC{
	height: 100%;
	width: 15%;
/*	border: 1px solid;*/
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
.profileBo{
	height: 36px;
	width: 36px;
/*	border: 1px solid;*/
	border-radius: 50%;
	background-image: url('images/user.png');
	background-size: cover;
}
.videoWri{
	height: 100%;
	width: 90%;
/*	border: 1px solid;*/
	padding: 10px 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.write1{
	width: 100%;
	min-height: 1.5rem;
/*	border: 1px solid;*/
	padding: 0 5px;
}
.font1{
	font-size: 16px;
	font-weight: 600;
	color: #0F0F0F;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.font2{
	font-size: 14px;
	color: #606060;
}

.shortCon{
	width: 100%;
	height: 75vh;
/*	border: 1px solid;*/
}
.shortFir{
	width: 100%;
	height: 10%;
/*	border: 1px solid;*/
	position: relative;
	display: flex;
	align-items: center;
}
.shortLogo{
	position: absolute;
	left: 0;
	height: 100%;
	width: 20%;
/*	border: 1px solid;*/
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.shorL{
	margin: 0 8px;
}
.shoWri{
	font-size: 20px;
	color: #0F0F0F;
}
.crosIcon{
	position: absolute;
	right: 0;
	height: 40px;
	width: 40px;
/*	border: 1px solid;*/
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
}

.shortSec{
	width: 100%;
	height: 90%;
/*	border: 1px solid;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.shortsDiv{
	height: 100%;
	width: 19%;
/*	border: 1px solid;*/
}
.shortVid{
	width: 100%;
	height: 80%;
/*	border: 1px solid;*/
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.shortVid video{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	border-radius: 10px;
}
.shortWri{
	width: 100%;
	height: 20%;
/*	border: 1px solid;*/
	padding: 10px 0;
}
.shortW1{
	width: 100%;
	min-height: 1.5rem;
}